

.cont{
  min-height: 92vh;
  background-color: white !important;
}

@import './comps/index.scss';

.page-docs-router-cont{
  height: 92vh;
  overflow: auto;
  width: 80%;
  float: right;
  border: 1px solid $color-grey;
}

.page-docs-nav{
  height: 92vh;
  overflow: auto;
  width: 20%;
  float: right;
  border: 1px solid $color-grey;
}

  .page-docs-nav-box{
    //border: 5px solid red;
    border-bottom: 2px solid $color-grey;
  }

    .page-docs-nav-box-tag{
      font-size: 24px;
      font-family: $font-heading;
      color: $color-brand-red;
      text-transform: capitalize;
      padding: 10px;
      cursor: pointer;
    }

    .page-docs-nav-box-tag:hover{
      color:$color-green;
    }

    .page-docs-nav-box-panels{

    }

      .page-docs-nav-box-panel{
        padding: 5px;
        font-size: 18px;
        font-family: $font-brand;
        color: $color-brand-red;
        text-transform: capitalize;
        cursor: pointer;
        padding-left: 2vw;
        text-decoration: none;
        display: block;
        border: 0px;
      }

      .page-docs-nav-box-panel:hover{
        color:$color-candy;
      }
