


.about-page-cont{
  //border:5px solid red;
  //max-height: 1000px;
  display: flex;
  height: auto;
  //max-height: 120vh;
  box-sizing: border-box;
  background-color: $color-light-grey;
}

  .home-comp-welcome-cont{
    height: auto;
    min-height: 92vh;
    width: 40%;
    padding-top: 20vh;
    float: left;
    box-sizing: border-box;
    text-align: center;
    //padding-top: 10vh;
    //border:5px solid purple;
  }

    .home-comp-welcome-image{
      //height: 60%;
      width: 60%;
    }

.about-page-text-cont{
  height: auto;
  min-height: 92vh;
  width: 60%;
  padding-top: 5vh;
  float: left;
  box-sizing: border-box;
  font-family: $font-brand;
  //border:5px solid green;
}

 .about-page-title-cont{
   font-size: 32px;
   padding: 20px;
   color:$color-candy;
 }

 .about-page-para-cont{
   padding: 20px;
   font-size: 18px;
 }

@media screen and (max-width:480px){
  .about-page-cont{
    display: block;
  }
  .home-comp-welcome-cont{
    width: 100%;
    float: none;
  }
  .about-page-text-cont{
    display: block;
    width: 100%;
    float: none;
  }
}
