

.footer-cont{
  padding: 50px;
  //height: 100px;
  //border:5px solid red;
  text-align: center;
  border-top: 1px solid $color-grey;
  box-sizing: border-box;
}

  .footer-tag{
    padding: 20px;
    font-family: $font-brand;
    font-size: 32px;
    color:$color-candy;
  }
