

.card{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 90%;
  margin: auto;
  //margin-top: 15vh;
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
  box-sizing: border-box;
  //min-height: 60vh;
  background-color: white;
}
